<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Modal Beli -->
    <div
      class="modal fade"
      id="beliModal"
      tabindex="-1"
      aria-labelledby="beliModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="beliModalLabel">Detail Produk</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Modal content for Beli -->
            <div class="content-area">
              <div class="">
                <img src="" alt="" />
              </div>
              <div class="detail-produk">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
                  quod suscipit voluptatum fugit omnis doloribus iusto dolorem
                  qui aliquam voluptates quisquam? Culpa natus delectus error
                  debitis earum, praesentium accusamus ratione!
                </p>
              </div>
              <div class="size-produk">
                <div>SM</div>
                <div>M</div>
                <div>L</div>
                <div>XL</div>
                <div>XXL</div>
              </div>
            </div>
            <!-- Insert modal-specific content here -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">
              Proceed to Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
